@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Rancho');
html{
    min-height: 100%;
}
body{
    background: linear-gradient(#e8f7f4,#C7EAE4);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color: #495159;
    overflow: hidden;
}
h1{
    font-family: 'Rancho', cursive;
    font-size: 90px;
    color: #59C9D5;
    text-shadow: 2px 2px 4px #087E8B;
    text-align: center;
    padding-top: 10px;
}
/* ####### CLOUDS ###### */
.cloud_container{
    height: 20vh;
    width: 5076px;
    position: absolute;
    top: 0;
    z-index: -1;
}
.cloud{
    background: url("assets/cloud.png");
    width: 200px;
    height: 110px;
    opacity: 0.8;
    position: relative;
    display: inline-block;
    animation: floatingclouds 80s linear infinite;
}
.c1{
    top: 30%;
    left: 300px;
}
.c2{
    transform: scale(0.6);
	opacity: 0.7;
    top: 15%;
    left: 500px;
    animation: floatingclouds 60s linear infinite;
}
.c3{
    transform: scale(0.7);
	opacity: 0.6;
    top: -10%;
    left: -200px;
    animation: floatingclouds 70s linear infinite;
}
.c4{
    top: 3%;
    left: -800px;
    animation: floatingclouds 50s linear infinite;
}
@keyframes floatingclouds {
    0%{
        left: -300px;
    }
    100%{
        left: 1000px;
    }
}
/* ###### BUTTONS ###### */
.buttons{
    display: inline-block;
    position: absolute;
    top: 200px;
    left: 100px;
}
#start{
    width: 100px;
    font-size: 50px;
    text-align: center;
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    background: #4BC6B9;
    box-shadow: 2px 4px 3px #b3d8d2;
    display: inline-block;
}
#start:hover{
    background: #67dbcf;
    transition: 0.5s ease;
    cursor: pointer;
}
#counter {
    width: 50px;
    height: 50px;
    font-size: 50px;
    text-align: center;
    padding: 20px;
    border-radius: 100%;
    background: #FCFC62;
    display: inline-block;
    position: relative;
    top: 120px;
    right: 135px;
}
#instructions_label{
    display: block;
    text-align: left;
    position: absolute;
    top: 45px;
    right: 30px;
}
#instructions_label:hover{
    color: #f37748;
    transition: 0.5s ease;
    text-decoration: underline;
    text-decoration-style: dotted;
}
.instructions{
    width: 430px;
    padding: 20px;
    background: rgba(250,250,250,0.55);
    border-radius: 15px;
    display: inline-block;
    position: absolute;
    top: 180px;
    right: 20px;
    visibility: visible;
}
.instructions p {
    padding: 10px;
}
/* ###### BUNNY ###### */
#bunny{
    width: 300px;
    height: 500px;
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 100px;
    left: 40vw;
    z-index: 1;
}
.left_ear{
    height: 200px;
    width: 75px;
    box-sizing: border-box;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    display: inline-block;
    position: relative;
    left: 55px;
    background: #fafafa;
    transform: rotate(-10deg);
}
.left_innerear{
    height: 150px;
    width: 35px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    background: #f2dcde;
    margin: 0 auto;
    position: relative;
    bottom: -15px;
}
.right_ear{
    height: 200px;
    width: 75px;
    box-sizing: border-box;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    display: inline-block;
    position: relative;
    left: 80px;
    background: #fafafa;
    transform: rotate(10deg);
}
.right_innerear{
    height: 150px;
    width: 35px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    background: #f2dcde;
    margin: 0 auto;
    position: relative;
    bottom: -15px;
}
.bunny_head{
    height: 200px;
    width: 250px;
    border-radius: 100%;
    box-sizing: border-box;
    position: relative;
    bottom: 375px;
    background: #fafafa;
    left: 25px;
    border: 1px solid #e0e0e0;
}
.left_eye{
    position: relative;
    width: 25px;
    height: 25px;
    border-bottom: 5px solid transparent;
    border-top: 10px solid #21130C;
    border-radius: 50%;
    left: 75px;
    top: 50px;
    transform: rotate(-5deg);
    display: inline-block;
}
.right_eye{
    position: relative;
    width: 25px;
    height: 25px;
    border-bottom: 5px solid transparent;
    border-top: 10px solid #21130C;
    border-radius: 50%;
    left: 100px;
    top: 50px;
    transform: rotate(5deg);
    display: inline-block;
}
.nose{
    position: relative;
    width: 20px; 
    height: 15px; 
    background: #f2dcde;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    display: inline-block;
    left: 45px;
    top: 65px;
}
.bunny_body{
    height: 300px;
    width: 300px;
    border: 1px solid #e0e0e0;
    border-radius: 100%;
    box-sizing: border-box;
    position: relative;
    background: #fafafa;
}
.egg {
    height: 185px;
    width: 150px;
    background: #EF5C6E;
    position: relative;
    left: 70px;
    top: 50px;
    border-radius: 50%;
    z-index: 1;
}
.left_leg{
    height: 50px;
    width: 100px;
    background: #fafafa;
    border: 1px solid #e0e0e0;
    position: relative;
    bottom: 255px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 15%;
    display: inline-block;
}
.right_leg{
    height: 50px;
    width: 100px;
    background: #fafafa;
    border: 1px solid #e0e0e0;
    position: relative;
    bottom: 255px;
    left: 90px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 25%;
    display: inline-block;
}
.left_ear:hover{
    transform: rotate(-30deg);
    transition: all 0.2s ease-in-out;
}
.right_ear:hover{
    transform: rotate(30deg);
    transition: all 0.2s ease-in-out;
}
.left_leg:hover{
    transform: translate(-20px,0);
    transition: all 0.2s ease-in-out;
}
.right_leg:hover{
    transform: translate(20px,0);
    transition: all 0.2s ease-in-out;
}
/* ###### GRASS ###### */
#ground {
    height: 100px;
    width: 100vw;
    background: #86AF49;
    position: absolute;
    bottom: 0;
}
.grass_container{
    width: 100vw;
    height: 100px;
    position: absolute;
    bottom: 100px; 
}
.grass{
    height: 9vmin;
    width: 1vmin;
    border-right: 1px solid #86AF49;
    border-left: 1px solid #86AF49;
    background: #86AF49;
    position: absolute;
    display: inline-block;
    bottom: -1vh;
    animation: grassmove 0.5s infinite alternate;
}
.g1{
    transform: rotate(-7deg);
    left: 10vw;
}
.g2{
    transform: rotate(7deg);
    left: 12vw;
}
.g3{
    transform: rotate(7deg);
    right: 10vw;
}
.g4{
    transform: rotate(-7deg);
    right: 12vw;
}
@keyframes grassmove {
  0%{
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
  }
  50% {
    border-top-right-radius: 30%;
    border-top-left-radius: 70%;
  }
  100% {
    border-top-right-radius: 20%;
    border-top-left-radius: 80%;
  }
}
#ground p{
    font-size: 25px;
    position: absolute;
    bottom: 5px;
    color: #b6d686;
    left: 50%;
}
#ground a {
    color: #b6d686;
}